# DataFrame

A DataFrame is a data structure that organizes data into a 2-dimensional table of rows and columns, much like a spreadsheet.

DataFrames are one of the most common data structures used in modern data analytics because they are a flexible and intuitive way of storing and working with data.

We can create DataFrame from series or dictionary

In [9]:
import pandas as pd

dict_populasi = { #Create Dictionary
    'Jakarta':750,
    'Bogor':490,
    'Depok':350,
    'Tangerang':270,
    'Bekasi':670
}

dict_luas = { #Create Dictionary
    'Jakarta':737,
    'Bogor':325,
    'Depok':247,
    'Tangerang':302,
    'Bekasi':355
}

populasi = pd.Series(dict_populasi) #Create Series
luas = pd.Series(dict_luas) #Create Series

data = pd.DataFrame({'populasi':populasi, 'luas':luas}) #Create DataFrame from series
data

           populasi  luas
Jakarta         750   737
Bogor           490   325
Depok           350   247
Tangerang       270   302
Bekasi          670   355

## Task

Create our group member city, hobby and goal from dictionary to dataframe

In [7]:
dict_kota = { #Create Dictionary
    'Irvan':'Palembang',
    'Jaza':'Jogja',
    'Rizal':'Bandung',
    'Risma':'Semarang',
    'Shafira':'Surabaya'
}

dict_hobi = { #Create Dictionary
    'Irvan':'Main gitar',
    'Jaza':'Masak',
    'Rizal':'Nonton',
    'Risma':'Membaca',
    'Shafira':'Travelling'
}

dict_cita2 = { #Create Dictionary
    'Irvan':'Pemusik',
    'Jaza':'Pengusaha',
    'Rizal':'FreeLancer',
    'Risma':'Data Scientist',
    'Shafira':'Data analyst'
}

kota = pd.Series(dict_kota) #Create Series
hobi = pd.Series(dict_hobi) #Create Series
cita2= pd.Series(dict_cita2) #Create Series

data = pd.DataFrame({'Kota':kota, 'hobi':hobi, 'cita-cita':cita2}) #Create DataFrame from series
data

              Kota        hobi       cita-cita
Irvan    Palembang  Main gitar         Pemusik
Jaza         Jogja       Masak       Pengusaha
Rizal      Bandung      Nonton      FreeLancer
Risma     Semarang     Membaca  Data Scientist
Shafira   Surabaya  Travelling    Data analyst

In [8]:
data['Kota']['Irvan'] #Search Series kota and index Irvan

'Palembang'